html{
    background-color: rgb(228, 230, 213);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    padding: 10% 0% 10% 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(173, 175, 159) ;
    margin: 0% 20% 0% 20%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    border-color: black;
    border: 1px solid black;
}

footer{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: auto;
    text-align: center;
}